# Group "256m": boards with 256 MB of RAM. ath11k host profile 256M (the 512M profile with smaller
# RXDMA rings) + NSS LOW.
CONFIG_ATH11K_MEM_PROFILE_256M=y
CONFIG_NSS_MEM_PROFILE_LOW=y
CONFIG_TARGET_DEVICE_qualcommax_ipq50xx_DEVICE_cudy_p5=y
CONFIG_TARGET_DEVICE_qualcommax_ipq50xx_DEVICE_tplink_ex511-v2=y
